<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>toLogin</servlet-name>
    <servlet-class>com.project.handler.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toLogin</servlet-name>
    <url-pattern>/toLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>verificationCode</servlet-name>
    <servlet-class>com.project.handler.VerificationCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verificationCode</servlet-name>
    <url-pattern>/verificationCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.project.handler.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forum</servlet-name>
    <servlet-class>com.project.handler.ForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forum</servlet-name>
    <url-pattern>/forum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>post</servlet-name>
    <servlet-class>com.project.handler.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>post</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>postList</servlet-name>
    <servlet-class>com.project.handler.PostListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postList</servlet-name>
    <url-pattern>/postList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reply</servlet-name>
    <servlet-class>com.project.handler.ReplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reply</servlet-name>
    <url-pattern>/reply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.project.handler.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addPost</servlet-name>
    <servlet-class>com.project.handler.AddPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPost</servlet-name>
    <url-pattern>/addPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myPage</servlet-name>
    <servlet-class>com.project.handler.MyPageHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myPage</servlet-name>
    <url-pattern>/myPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>appendMessage</servlet-name>
    <servlet-class>com.project.handler.AppendMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>appendMessage</servlet-name>
    <url-pattern>/appendMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>com.project.handler.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>com.project.handler.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addTheme</servlet-name>
    <servlet-class>com.project.handler.ThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTheme</servlet-name>
    <url-pattern>/theme</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>category</servlet-name>
    <servlet-class>com.project.handler.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>category</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reviseMessage</servlet-name>
    <servlet-class>com.project.handler.ReviseMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviseMessage</servlet-name>
    <url-pattern>/reviseMessage</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.project.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FirstPageFilter</display-name>
    <filter-name>FirstPageFilter</filter-name>
    <filter-class>com.project.filter.FirstPageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FirstPageFilter</filter-name>
    <url-pattern>/index</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.project.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/AdminFilter</url-pattern>
  </filter-mapping>
</web-app>